@import "vars";
@import "extends";
@import "mixins";


body {
	margin: 0;
	padding: 0;
}

#main-block {
	float: left;
	margin-top: 20px;
	
	> div {
		@include blocksCount(5) {
			a {
				color: #992a40;
			}
		}
		@include colorBlock(#46ac9b);
	}
}

div:not(:last-child) {
	@extend %block;

	border-radius: 10px;
	background-color: $bg-color;
	margin: 20px;
	transition: 0.5s ease all;
	color: black;
	&.box {
		width: 50px;
		height: 50px;
		border-radius: 10px;
		margin: 20px;
		@include padd(#449324, 55px)
	}
}

@keyframes flexer {
	0% {
		width: 150px;
	}
	50% {
		width: 1000px;
		height: 30px;
	}
	75% {transform: translateY(400px);}
	90% {width: 160px;}
}
.shadow {
	margin: 0 auto;
	width: 150px;
	height: 80px;
	background-color: #992a40;
	border-radius: 10px;
	animation-duration: 8s;
	animation-name: flexer;
	animation-iteration-count: infinite;
}
p {
	@include font(25px, light);
}
a {
	@include font;
}

@for $el from 1 through 3 {
	ul:nth-child(3n + #{$el}) {
		background-color: lighten($base-color, $el * 5%);
	}
}
