body {
	margin: 0;
	padding: 0;
}
div {
	width: 100px;
	height: 40px;
	padding: 5px;
	border-radius: 10px;
	background-color: #994556;
	margin: 20px;
	transition: 0.5s ease all;
	color: black;
	&.box {
		width: 50px;
		height: 50px;
		border-radius: 10px;
		margin: 20px;
		padding: 15px;
		background-color: #449324;
	}
}

@keyframes flexer {
	0% {
		width: 150px;
	}
	50% {
		width: 400px;
		height: 30px;
	}
	75% {transform: translateY(400px);}
	90% {width: 160px;}
}
.shadow {
	margin: 0 auto;
	width: 150px;
	height: 80px;
	background-color: #994556;
	border-radius: 10px;
	animation-duration: 8s;
	animation-name: flexer;
	animation-iteration-count: infinite;
}